<% if @response -%>
<% if @response.has_key?(:error) -%>
<div class="alert-error alert">
<%= @response[:error] %>
</div>
<% end -%>
<% if @response.has_key?(:notice) -%>
<div class="alert-success alert">
<%= @response[:notice] %>
</div>
<% end -%>
<% end -%>

<h1>Import <%= @abstract_model.to_param.titleize %></h1>

<small>The following fields may be included in the import file</small>
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="20%" valign="top">
<h3>Standard Fields</h3>
<ul>
<% @abstract_model.model.import_fields.each do |field| -%>
<li><%= field %></li>
<% end -%>
</ul>
</td>

<% if @abstract_model.model.belongs_to_fields.any? -%>
<td width="20%" valign="top">
<h3>Belongs To Fields</h3>
<ul>
<% @abstract_model.model.belongs_to_fields.each do |field| -%>
<li><%= field %></li>
<% end -%>
</ul>
<small>These fields map to other items in the database, lookup via attribute selected below.</small>
</td>
<% end -%>

<% if @abstract_model.model.file_fields.any? -%>
<td width="20%" valign="top">
<h3>File Fields</h3>
<ul>
<% @abstract_model.model.file_fields.each do |field| -%>
<li><%= field %></li>
<% end -%>
</ul>
<small>These must be a downloadable URL.</small>
</td>
<% end -%>


<% if RailsAdminImport.config(@abstract_model.model).extra_fields.any? -%>
<td width="20%" valign="top">
<h3>Extra Fields</h3>
<ul>
<% RailsAdminImport.config(@abstract_model.model).extra_fields.each do |field| -%>
<li><%= field %></li>
<% end -%>
</ul>
<small>Additional application specific fields.</small>
</td>
<% end -%>
	</tr>
</table>

<%= form_tag rails_admin.import_url(@abstract_model.to_param), :multipart => true do |f| -%>
  <h5 style="color:red;">Please limit upload file to <%= RailsAdminImport.config.line_item_limit %> line items.</h5>
  <%= file_field_tag :file %>

  <br />
  <%= submit_tag "Upload", :disable_with => "Uploading..." %>
<% end -%>
